{% extends "admin/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block branding %}
    <div style="margin: 5px;"><h1>
        <a href="/">Site Name</a> | 
        <a href="/admin/">Site Administration</a> | 
    </h1></div>
{% endblock %}

{% block nav-global %}{% endblock %}

