<div>
<div class="left" style="padding: 5px;">
    <div style="float: left;">
	<a href="http://djangopony.com/" class="ponybadge" target="new" title="Magic! Ponies! Django! Whee!"><img src="http://media.djangopony.com/img/small/badge.png" width="210" height="65" alt="ponybadge"></a>
    </div>
</div>
<div class="right" style="padding: 5px;">
    <a href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangopowered126x54.gif" border="0" alt="Powered by Django." title="Powered by Django." /></a>
</div>
<div class="clear" align="center">
    {% if user.is_superuser and user.is_staff %}
	<a href="/admin/">ADMIN</a>
    {% endif %}
</div>
</div>

