<div id="pages">
    <div style="width: 75%;">
    <div class="pagelinks">
        <a href="/feeds/all/">RSS</a>
    </div>
    <div class="pagelinks">
        <a href="/pages/about/">ABOUT</a>
    </div>
    <div class="pagelinks">
	<a href="/">HOME</a>
    </div>
    </div>
</div>

