{% extends "base.html" %}

{% block page_title %}{{ entry.title }}{% endblock %}

{% block content %}

{% if entry %}

    {% if user.is_superuser and user.is_staff %}
        <p><a href="/admin/entry/post/{{ entry.id }}/">EDIT THIS POST</a></p>
    {% endif %}
    <div class="entry_box">
        <h1 class="post_title">{{ entry.title }}</h1>
        <div class="post_signature">
            Posted by: <a href="/author/{{ entry.author }}/">{{ entry.author }}</a> | 
            Date: <a href="/date/{{ entry.created_at|date:"Y-m-d" }}/">{{ entry.created_at|date:"M d, Y" }}</a> | 
            {% if entry.updated_at %}
                Updated: <a href="/date/{{ entry.updated_at|date:"Y-m-d" }}/">{{ entry.updated_at|date:"M d, Y" }}</a> |
            {% endif %}
            Category: 
            {% for category in entry.category_list %}
                <a href="/category/{{ category|slugify }}/">{{ category }}</a>
            {% endfor %}
        </div>
        <div class="post_body">{% autoescape off %}{{ entry.body }}{% endautoescape %}</div>
    </div>

    <div id="disqus_thread"></div>
    <!-- disqus comment js here -->

{% else %}

    Sorry, nothing to see here.<br />

{% endif %}

{% endblock %}

